body {
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    color: #FFFFFF;
}

h1 {
    font-size: 120px;
}

h2 {
    font-size: 60px;
}

h3 {
    
}

p {
    font-size: 20px;
}

#container {
    padding: 10px;
}
