body {
    margin: 0px;
    padding: 0px;
    background-color: #000000;
    color: #FFFFFF;
}

h1 {
    font-size: 75px;
}

h2 {
    padding-top: 20px;
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

p {
    font-size: 40px;
    padding-left: 25px;
}

.temp {
    font-size: 100px;
}

#container {
    padding: 10px;
}

#date_time_box {
    padding: 10px;
}
